<%= form_with(model: user, class: "col-3") do |form| %>
  <div class="container">
    <div class="col-xs-6 center-block ">
        <% if user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="mb-4 mt-5 center-block">
          <label for="user_tweetname"><%= form.label "Twitter name",style: 'font: 1.4em "Fira Sans", sans-serif;'%> </label>
          <%= form.text_field :tweetname, style: 'float: right; width: 65%; display: block',class: "form-control" %>
        </div>
        <div class="mb-5 center-block">
          <label for="user_img_url"><%= form.label "Image URL", style:' font: 1.4em "Fira Sans", sans-serif;' %></label>
          <%= form.text_field :img_url, style: 'float: right; width: 65%; display: block;%',class: "form-control"%>
        </div>
        <div class="mb-3 center-bloc">
            <div class="text-center">
              <%= form.submit "Create User", class: "btn btn-primary" %>
              <%= link_to 'Back', users_path, class: "btn btn-warning" %>
            </div> 
         </div>
    </div>
  </div>
<% end %>
     
