<%= form_with(model: user, class: "col-3") do |form| %>
  <div class="container">
    <div class="col-xs-6 center-block ">
        <% if user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="mb-3 center-block">
          <label for="name"><%= form.label "Twitter name" %> </label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="mb-3 center-block">
          <label for="pwd"><%= form.label "Image URL" %></label>
          <input type="text" class="form-control" id="img_url" placeholder="Enter image url" name="img_url">
        </div>
        <div class="mb-3 center-bloc">
            <div class="text-center">
              <%= form.submit "Create User", class: "btn btn-primary" %>
              <%= link_to 'Back', users_path, class: "btn btn-warning" %>
            </div> 
         </div>
    </div>
<% end %>
     
