<div class="container">
	<div class="row">
        <div class="col-3 mx-auto align-self-center">
			<h1>Users</h1>
			<table class="table userTable">
				<% @users.each do |user| %>
				<tr>
					<td class="align-middle">
					<div>
						<img src="<%= asset_path(user.img_url) %>" class="avatar"  />
						<%= link_to user.tweetname, user %>
					</div>  
					</td>
					<td class="align-middle">
						<div class="actionUserButton">
						<%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary actionButton" %>
						<%= button_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger actionButton" %>
						</div>  
					</td>
				</tr>
				<% end %>
			</table>
			<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
		</div>
	</div>	
</div>
