<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body text-center row">
          <div class="col-sm-3">
            <img src="<%= asset_path(@user.img_url) %>" height="50px" width="50px" class="avatar" />
          </div>
        
          <div class="col-sm-9">
            <h3><%= @user.tweetname %></h3>
          </div>
        </div>
        <div class="panel-footer hiden-panel-body">
          <div class="row">
            <div class="col-sm-6" style="font-size:80%; opacity: 0.7;">Tweets<br>
              <h6 style="font-size:200%; opacity: 0.5;"> 5</h6>
            </div>
            <div class="col-sm-6" style="font-size:80%; opacity: 0.7;">Followers<br>
              <h6  style="font-size:200%; opacity: 0.5;">
                <% if @user.followers != nil %>
                   <%= @user.followers.count %> 
                <% else %>
                   0
                <% end %>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
				<div class="panel-body">
					<h4> Trends </h4>
          <a href=""> #Trend #1</a><br>
          <span style="opacity: 0.7;">21k tweets</span><br><br>
          <a href=""> #Trend #2</a><br>
          <span style="opacity: 0.7;">87k tweets</span><br>
				</div>
			</div>
    </div>
    
    <div class="col-xs-6">
      <%= render "/components/post_tweet" %>
        <div><h2>Your feed</h2></div>
        <div class="mt-5">
          <% @user.tweets.each do |tweet| %>
            <% if tweet.id? %>
              <div class="panel panel-default post-panel">
                <div class="panel-body row">
                  <div class="col-sm-1">
                    <img src="<%= asset_path(@user.img_url) %>" class="avatar" />
                  </div>
                  
                  <div class="col-sm-11">
                  <p class="post-title"><strong> <%= @user.tweetname %> </strong> <strong><%= @user.created_at.strftime("%Y:%m:%d") %></strong></p>   
                  <p class="post-content"><%= tweet.content %></p>
                  </div>
                  <div class="mt-3">
                    <%= render '/components/reaction_bar' %>
                  </div>
                  <div>
                    <%= button_to "delete", {:controller => "tweets", :action => 'destroy', :id => tweet.id, :user_id => @user.id }, :confirm => "Are you sure ?", :method => :delete %>
                  </div>
                  <div>
                    <%= button_to "show", user_tweet_path(user_id: @user.id, id: tweet.id), :method => :show %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4> Who to follow </h4>
					<div class="col-sm-11  mt-3">
            <% @user_list.each do |user| %>
              <%= render '/components/follow_button', :user=> user, :current_user=> @user %>
						<% end %>
					</div>
				</div>
			</div>
    </div>

  </div>
</div>

