<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div>
      <%= form_with model: [@user,@user.tweets.build] do |form| %>
        <div class="field">
          <div>
            <h2>Home</h2>
          </div>
          <div>
            <%= form.text_area :content, placeholder: "What's up ?", cols: 88, rows: 2 %>
            <%= form.hidden_field :user_id, :value=>@user.id %>
          </div>
        </div>
        <div class="actions">
          <%= form.submit "Tweet", :class => "btn btn-primary tweet-btn"  %>
        </div>
      <% end %>
        </div>
    </div>

  </div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="feed">
      <h2>Your feed</h2>
      <% @user.tweets.each do |tweet| %>
        <% if tweet.id? %>
        <div class="feed">
          <div class="tweet">
            <div class="row tweet-info">
              <div class="col user-info-tweet">
                <img src="<%= asset_path(@user.img_url) %>" class="avatar" />
                <strong> <%= @user.tweetname %> </strong>
              </div>
              <div class="col">
              </div>
              <div class="col">
                
              </div>  
            </div>  
            <div>
              <%= tweet.content %>
            </div>
            <div>
              <strong><%= @user.created_at.strftime("%Y:%m:%d") %></strong> 
            </div>
            <div>
              <%= button_to "delete", {:controller => "tweets", :action => 'destroy', :id => tweet.id, :user_id => @user.id }, :confirm => "Are you sure ?", :method => :delete %>
            </div>
            <div>
              <%= button_to "show", {:controller => "tweets", :action => 'show', :user_id => @user.id, :id => tweet.id}, :method => :show %>
            </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
<div>



