<p id="notice"><%= notice %></p>

<p>
  <strong>Tweetname:</strong>
  <%= @user.tweetname %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @user.img_url %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
